th,
td {

    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
    color: brown;

}

td {
    width: 100px;

}

th {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

td:hover {

    background-color: antiquewhite;
}

th:hover {

    color: blue;
    transform: scale(1.2);
    transition: 1s;

}

button {
    background-color: deepskyblue;
    border-radius: 25px;
    cursor: pointer;
    color: azure;
    padding: 16px 30px;

}

button:hover {
    background-color: cadetblue;
    font-style: italic;
}

button:active {
    color: brown;
    transform: translateY(2px);
    /* display: none; */
}

button:focus {

    background-color: bisque;

}

ul li {
    list-style: lower-roman;
    text-decoration: underline;
    font-size: 30px;
    color: blue;
}

ul ul li {
    list-style: decimal;
    font-size: 15px;
    color: green;
    text-decoration: none;


}